<% if params[:action] == 'searchu' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @result.present? %>
<div class="well results-block">
  <% @result.each do |item| %>
    <strong>Email: </strong> <%= item.email %>
    
    <%# <% if current_user.friends.find.map(&:id) %> %>
        <%= link_to 'add to friends',
                    '#',
                    class: "btn btn-xs btn-success", method: :post, remote: true%>
    <%# <% else %> %>
      <span class="label label-default">
          Already added
    <%# <% end %> %>
        </span>
  <% end %>
</div>
<% end %>