<h1>Welcome</h1>
<p>This is a stock trading app based on the NASDAQ index.
Refer <a href="https://www.cnbc.com/nasdaq-100/" target="_blank">Stock list</a> to add/ remove stock.</p>
<p>Add me up and check the stocks I'm tracking, Go to `My friends` -> Search -> ankit</p>